<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Dice', root_path, class: 'navbar-brand'%>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to 'Категории игр', '#' %> </li>
        <li> <%= link_to 'Акции', '#' %> </li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Искать">
        </div>
        <button type="submit" class="btn btn-default">Поиск</button>
      </form>

      <ul class="nav navbar-nav">
        <li> <%= link_to 'О нас', '#' %> </li>
        <li> <%= link_to 'Контакты', '#'%> </li>
        <li> <%= link_to 'Оплата и доставка', '#' %> </li>
        <li> <%= link_to image_tag('shopping-cart.png', size: '22x22'), cart_path %></li>
        <li> <span class="badge" id="cart-count"><%= line_items_cart %></span></li>
        <% if signed_in?%>
          <li class="dropdown" id="current_user_right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <%= link_to 'Кабинет', '#'%> </li>
              <li role="separator" class="divider"></li>
              <li> <%= link_to 'Выход', destroy_user_session_path, method: 'delete' %></li>
            </ul>
          </li>
        <% else %>
          <li class="li_margin_left"> <%= link_to 'Регистрация', new_user_registration_path %> </li>
          <li> <%= link_to 'Вход', new_user_session_path %> </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>